name: maui
description: Literacy application for children

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.0
  image_picker: ^0.4.0
  camera: ^0.1.1
  xmlstream: ^0.10.0
  sqflite: any
  uuid: ^0.5.0
  path_provider: ^0.4.0
  tuple: ^1.0.1
  firebase_database: ^0.4.1
  firebase_storage: ^0.2.0
  json_annotation: ^0.2.2
  audioplayer: ^0.4.0
  fluttie: ^0.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  build_runner: ^0.7.6
  json_serializable: ^0.3.2
# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  assets:
    - assets/database.db
    - assets/chimple_logo.png
    - assets/apple.png
    - assets/Boy.png
    - assets/imageCoordinatesInfo.json
    - assets/imageCoordinatesInfo2.json
    - assets/apple.ogg
    - assets/Shapes.png
    - assets/animations/koala_happy.json
    - assets/animations/zebra_face.json

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies, 
  # see https://flutter.io/custom-fonts/#from-packages
